/*
 * -------------------------------------------------
 *  Nextflow config file for running nf-var on Mendel (Slurm)
 * -------------------------------------------------
 *  Use:
 *    nextflow run main.nf -profile mendel
 */

profiles {

  mendel {

    conda {
      enabled  = true
      useMamba = true
    }

    executor {
      name              = 'slurm'
      queueSize         = 100
      submitRateLimit   = '1/1sec'
      pollInterval      = '10 sec'
      queueStatInterval = '10 min'
    }

    process {
      // Profile metadata (purely descriptive)
      config_profile_name        = 'Mendel cluster profile'
      config_profile_description = 'Defaults for AMNH Mendel Slurm cluster'

      // Slurm basics
      executor       = 'slurm'
      queue          = 'compute'
      cpus           = { 1 * task.attempt }
      memory         = { 4.GB * task.attempt }
      time           = { 4.h  * task.attempt }

      // Environment
      // beforeScript = ""
      conda          = "/home/jhoffman1/mendel-nas1/varmit/environment.yml"   // or your actual env path


      // Retry common transient/oom signals; otherwise finish to surface the error
      errorStrategy  = { task.exitStatus in [104,134,137,139,140,143,247] ? 'retry' : 'finish' }
      maxRetries     = 3
      maxErrors      = -1

      // Longer jobs (same partition)
      withLabel: 'Endurance' {
        cpus   = { 1 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = { 12.h * task.attempt }
        queue  = 'compute'
      }

      // Mapping
      withLabel: 'Mapping' {
        cpus   = 12
        memory = 50.GB
        time   = 25.h
        queue  = 'compute'
      }

  }
}
}
